html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    /* background: url('../assets/images/pexels-photo-911738.jpeg');
    background-size: cover; */
}

h1 {
    font-weight: 300;
}

.menu-row {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 
    0 15px 12px rgba(0, 0, 0, 0.22);
    background-color: #fafafa;
    border-radius: 5px;
    padding: 25px;
    margin: 50px 0;
}

#main-menu {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

#main-menu li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

#main-menu a {
    padding: 10px 20px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; 
    display: flex;
    align-items: center;
    background: url('../assets/images/pexels-photo-911738.jpeg');
    background-size: cover;
}

fieldset {
    margin: 50px 0 !important;
}
